@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/mona-sans");

@font-face {
  font-family: "Mona Sans";
  src: url("../public/fonts/Mona-Sans.woff2")
      format("woff2 supports variations"),
    url("../public/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@layer base {
  :root {
    --background: 258 100% 95%;
    --foreground: 258 5% 0%;
    --card: 258 50% 90%;
    --card-foreground: 258 5% 10%;
    --popover: 258 100% 95%;
    --popover-foreground: 258 100% 0%;
    --primary: 258 52.3% 46.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 258 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 220 30% 85%;
    --muted-foreground: 258 5% 35%;
    --accent: 220 30% 80%;
    --accent-foreground: 258 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 258 5% 90%;
    --border: 258 30% 50%;
    --input: 258 30% 18%;
    --ring: 258 52.3% 46.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 249, 19%, 7%;
    --foreground: 258 5% 90%;
    --card: 258 50% 0%;
    --card-foreground: 258 5% 90%;
    --popover: 258 50% 5%;
    --popover-foreground: 258 5% 90%;
    --primary: 258 52.3% 46.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 258 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 30% 15%;
    --muted-foreground: 258 5% 60%;
    --accent: 220 30% 15%;
    --accent-foreground: 258 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 258 5% 90%;
    --border: 258 30% 18%;
    --input: 258 30% 18%;
    --ring: 258 52.3% 46.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* To remove default spinner from input fields */
@layer components {
  .font-mona-sans {
    font-family: "Mona-Sans", sans-serif;
    font-family: "Mona Sans", sans-serif;
  }

  .no-spinner {
    -moz-appearance: textfield;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.rdp-vhidden {
  @apply hidden;
}
